/*

serrin-0.1.02.css

<link href="serrin.css" rel="stylesheet" type="text/css">
<script src="serrin.js"></script>

*/

html, body
{
	margin: 0px;
	padding: 0px;
	/*font-family: Helvetica, Arial, sans-serif;*/
}

a
{
	text-decoration: none;
}

a:hover, a:active
{
	text-decoration: underline;
}

/********************/
/*    containers    */
/********************/

.srn-container
{
	padding: 0px;
	margin: 0px;
	display: block;
}

.srn-container-bgimage
{
	background-repeat: no-repeat;  /* repeat-x; repeat-y;*/
	/*background-attachment: fixed;*/
	background-position: center;
	background-size: cover;
}

.srn-header
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.8em;
}

.srn-content
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
}

.srn-content-innerdiv
{
	width: 90%;
	max-width: 1024px;
	padding: 0px;
	margin: 0px;
	display: inline-table;
}

.srn-footer
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}

/**************************************************/
/*    messagebox and cookiebox and closebutton    */
/**************************************************/

.srn-messagebox
{
	overflow: auto;
}
.srn-messagebox-p
{
	float: left;
}

.srn-cookiebox
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.srn-closebutton-white
{
	cursor: pointer;
	font-family: sans-serif;
	font-size: 2em;
	/*border-radius: 100px;*/
	color: white;
	/*text-align: center;*/
	float: right;
}
.srn-closebutton-white:hover
{
	/*color: black;*/
	font-weight: bold;
}

.srn-closebutton-black
{
	cursor: pointer;
	font-family: sans-serif;
	font-size: 2em;
	/*border-radius: 100px;*/
	color: black;
	/*text-align: center;*/
	float: right;
}
.srn-closebutton-black:hover
{
	/*color: black;*/
	font-weight: bold;
}

/****************/
/*    inputs    */
/****************/

.srn-input-oneline-border
{
	border: 1px solid lightgrey;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	max-width: 300px;
	width: 90%;
}
.srn-input-oneline-border:hover, .srn-input-oneline-border:active, .srn-input-oneline-border:focus
{
	border: 1px solid navy;
}

.srn-input-textarea-border
{
	border: 1px solid lightgrey;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	max-width: 300px;
	width: 90%;
	max-height: 300px;
}
.srn-input-textarea-border:hover, .srn-input-textarea-border:active, .srn-input-textarea-border:focus
{
	border: 1px solid black;
}

.srn-input-oneline-borderbottom
{
	border-top: none;
	border-bottom: 1px solid lightgrey;
	border-left: none;
	border-right: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	max-width: 300px;
	width: 90%;
}
.srn-input-oneline-borderbottom:hover, .srn-input-oneline-borderbottom:active, .srn-input-oneline-borderbottom:focus
{
	border-bottom: 1px solid black;
}

/*****************/
/*    images    */
/*****************/

.srn-img-responsive
{
	max-width: 100%;
	height: auto;	
}

.srn-img-500px
{
	width: 100%;
	max-width: 500px;
	height: auto;
	/*max-height: 500px;*/
}

/***********************************************/
/*    dropdown                                 */
/*    This section is for testing!             */
/*    Must be customized in the local copy!    */
/***********************************************/

.srn-dropdown
{
    position: relative;
    display: inline-block;
}

.srn-dropdown-btn 
{
    /*
	background-color: grey;
    color: white;
    padding: 5px;
    font-size: 28px;
	font-family: Helvetica;
    border: none;
	*/
    cursor: pointer;
}

.srn-dropdown-content 
{
    display: none;
    position: absolute;
	/*
    background-color: darkgrey;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

.srn-dropdown-content a
{
	color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.srn-dropdown-content a:hover 
{
	background-color: white;
	color: black;
}

.srn-dropdown:hover .srn-dropdown-content
{
    display: block;
}

.srn-dropdown:hover .srn-dropdown-btn
{
    /*background-color: grey;*/
}

/*
	Usage sample:
	
	<div class="srn-dropdown srn-float-left">
		<button class="srn-dropdown-btn srn-font srn-font-l srn-color-white srn-black srn-border-black">&equiv;</button>
		&nbsp;
		<div class="srn-dropdown-content srn-black srn-font srn-font-m">
			<a href="#download" class="srn-black srn-color-white srn-padding-10 srn-font srn-font-m">Download</a>
			<a href="#features" class="srn-black srn-color-white srn-padding-10 srn-font srn-font-m">Features</a>
			<a href="#contact" class="srn-black srn-color-white srn-padding-10 srn-font srn-font-m">Contact</a>
		</div>
	</div>
*/


/**************************/
/*    other properties    */
/**************************/

.srn-center    {  text-align: center;   }
.srn-right     {  text-align: right;    }
.srn-left      {  text-align: left;     }
.srn-justify   {  text-align: justify;  }

.srn-float-left   {  float: left;   }
.srn-float-right  {  float: right;  }
.srn-float-clear  {  clear: both;   }

.srn-vertical-top     {  vertial-align: top;     }
.srn-vertical-middle  {  vertial-align: middle;  }
.srn-vertical-bottom  {  vertial-align: bottom;  }

.srn-vertical-45
{
	position: relative;
	top: 40%;
}

.srn-rounded
{
	-webkit-border-radius: 5500px;
	-moz-border-radius: 5500px;
	border-radius: 5500px;
}

.srn-roundedcorner8
{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.srn-roundedcorner25
{
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

/****************************/
/*    padding and margin    */
/****************************/

.srn-padding
{
	padding: 20px;
}

.srn-padding-none
{
	padding: 0px;
}

.snr-padding-horizontal1
{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 1%;
	padding-right: 1%;
	width: 98%;
}
.snr-padding-horizontal2
{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
}
.snr-padding-horizontal3
{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 3%;
	padding-right: 3%;
	width: 94%;
}
.snr-padding-horizontal5
{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
}
.snr-padding-horizontal10
{
	padding-top: 20px;
	padding-bottom: 20px;
	padding: 10%;
	padding-right: 10%;
	width: 80%;
}
.snr-padding-horizontal15
{
	padding-top: 20px;
	padding-bottom: 20px;
	padding: 15%;
	padding-right: 15%;
	width: 70%;
}

.srn-padding5   {  padding: 5px;   }
.srn-padding10  {  padding: 10px;  }
.srn-padding15  {  padding: 15px;  }
.srn-padding20  {  padding: 20px;  }
.srn-padding25  {  padding: 25px;  }
.srn-padding30  {  padding: 30px;  }
.srn-padding35  {  padding: 35px;  }
.srn-padding40  {  padding: 40px;  }
.srn-padding45  {  padding: 45px;  }
.srn-padding50  {  padding: 50px;  }

.srn-margin5   {  margin: 5px;   }
.srn-margin10  {  margin: 10px;  }
.srn-margin15  {  margin: 15px;  }
.srn-margin20  {  margin: 20px;  }
.srn-margin25  {  margin: 25px;  }
.srn-margin30  {  margin: 30px;  }
.srn-margin35  {  margin: 35px;  }
.srn-margin40  {  margin: 40px;  }
.srn-margin45  {  margin: 45px;  }
.srn-margin50  {  margin: 50px;  }

/****************************/
/*    opacity properties    */
/****************************/

.srn-opacity       {  filter: alpha(opacity=70);   -moz-opacity: 0.7;  opacity: 0.7;  }
.srn-opacity-none  {  filter: alpha(opacity=100);  -moz-opacity: 1;    opacity: 1;    }
.srn-opacity10     {  filter: alpha(opacity=10);   -moz-opacity: 0.1;  opacity: 0.1;  }
.srn-opacity20     {  filter: alpha(opacity=20);   -moz-opacity: 0.2;  opacity: 0.2;  }
.srn-opacity30     {  filter: alpha(opacity=30);   -moz-opacity: 0.3;  opacity: 0.3;  }
.srn-opacity40     {  filter: alpha(opacity=40);   -moz-opacity: 0.4;  opacity: 0.4;  }
.srn-opacity50     {  filter: alpha(opacity=50);   -moz-opacity: 0.5;  opacity: 0.5;  }
.srn-opacity60     {  filter: alpha(opacity=60);   -moz-opacity: 0.6;  opacity: 0.6;  }
.srn-opacity70     {  filter: alpha(opacity=70);   -moz-opacity: 0.7;  opacity: 0.7;  }
.srn-opacity80     {  filter: alpha(opacity=80);   -moz-opacity: 0.8;  opacity: 0.8;  }
.srn-opacity90     {  filter: alpha(opacity=90);   -moz-opacity: 0.9;  opacity: 0.9;  }

/***************/
/*    table    */
/***************/

.srn-table 
{
    border-collapse: collapse;
    /*width: 100%;*/
	display: inline-table;
}

.srn-td 
{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

/*****************/
/*    buttons    */
/*****************/

.srn-btn
{
	display: inline-table;
	text-align: center;
	cursor: pointer;
}

.srn-btn-small
{
	/*
	-moz-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
	box-shadow: inset 0px 1px 0px 0px #7a8eb9;
	*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	min-width: 50px;
}
.srn-btn-small:hover, .srn-btn-small:active, .srn-btn-small:focus
{
	/*
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.srn-btn-middle
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	/*box-shadow:0 0 3px lightgrey;*/
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

.srn-btn-middle:hover, .srn-btn-middle:active, .srn-btn-middle:focus
{
	/*box-shadow: 0 0 6px grey;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.srn-btn-big
{
	min-width: 130px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	cursor: pointer;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.srn-btn-big:hover, .srn-btn-big:active, .srn-btn-big:focus
{
	/*
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.srn-btn-screensize
{
	min-width: 150px;
	font-family: Helvetica;
	font-size: 1.2em;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
}

.srn-btn-screensize:hover, .srn-btn-screensize:active, .srn-btn-screensize:focus
{	
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

.srn-btn-circle
{
	border-radius:50%;
	width: 55px;
	height: 43px;
	font-size: 1.5em;
	padding-top: 12px;
}

.srn-btn-circle:hover, .srn-btn-circle:active, .srn-btn-circle:focus
{
	/*
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/***********************/
/*    social button    */
/***********************/

.srn-btn-social
{
	/*
	-moz-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
	box-shadow: inset 0px 1px 0px 0px #7a8eb9;
	*/
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 12px;
	text-decoration: none;
	min-width: 50px;
}
.srn-btn-social:hover, .srn-btn-social:active, .srn-btn-social:focus
{
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

/**************************/
/*    backgound colors    */
/**************************/

.srn-bg-none    {  background: none;  }
.srn-facebook   {  background-color: #3b5998;    color: white;  }
.srn-twitter    {  background-color: #55acee;    color: white;  }
.srn-google     {  background-color: #dd4b39;    color: white;  }
.srn-blue       {  background-color: blue;       color: white;  }
.srn-red        {  background-color: red;        color: white;  }
.srn-white      {  background-color: white;      color: black;  }
.srn-silver     {  background-color: silver;     color: black;  }
.srn-gray       {  background-color: gray;       color: white;  }
.srn-grey       {  background-color: gray;       color: white;  }
.srn-lightgray  {  background-color: lightgray;  color: black;  }
.srn-lightgrey  {  background-color: lightgrey;  color: black;  }
.srn-darkgray   {  background-color: darkgray;   color: black;  }
.srn-darkgrey   {  background-color: darkgrey;   color: black;  }
.srn-black      {  background-color: black;      color: white;  }
.srn-maroon     {  background-color: maroon;     color: white;  }
.srn-yellow     {  background-color: yellow;     color: black;  }
.srn-olive      {  background-color: olive;      color: white;  }
.srn-lime       {  background-color: lime;       color: black;  }
.srn-green      {  background-color: green;      color: white;  }
.srn-teal       {  background-color: teal;       color: white;  }
.srn-aqua       {  background-color: aqua;       color: black;  }
.srn-navy       {  background-color: navy;       color: white;  }
.srn-fuchsia    {  background-color: fuchsia;    color: white;  }
.srn-purple     {  background-color: purple;     color: white;  }
.srn-cyan       {  background-color: cyan;       color: black;  }
.srn-darkblue   {  background-color: darkblue;   color: white;  }
.srn-lightblue  {  background-color: lightblue;  color: black;  }
.srn-magenta    {  background-color: magenta;    color: white;  }
.srn-orange     {  background-color: orange;     color: white;  }
.srn-brown      {  background-color: brown;      color: white;  }
.srn-pink       {  background-color: pink;       color: black;  }
.srn-indigo     {  background-color: indigo;     color: white;  }
.srn-darkgray   {  background-color: darkgray;   color: black;  }
.srn-darkgrey   {  background-color: darkgrey;   color: black;  }

/*********************/
/*    text colors    */
/*********************/

.srn-color-facebook   {  color:  #3b5998;    }
.srn-color-twitter    {  color:  #55acee;    }
.srn-color-google     {  color:  #dd4b39;    }
.srn-color-blue       {  color:  blue;       }
.srn-color-red        {  color:  red;        }
.srn-color-white      {  color:  white;      }
.srn-color-silver     {  color:  silver;     }
.srn-color-gray       {  color:  gray;       }
.srn-color-grey       {  color:  gray;       }
.srn-color-lightgray  {  color:  lightgray;  }
.srn-color-lightgrey  {  color:  lightgrey;  }
.srn-color-black      {  color:  black;      }
.srn-color-maroon     {  color:  maroon;     }
.srn-color-yellow     {  color:  yellow;     }
.srn-color-olive      {  color:  olive;      }
.srn-color-lime       {  color:  lime;       }
.srn-color-green      {  color:  green;      }
.srn-color-teal       {  color:  teal;       }
.srn-color-aqua       {  color:  aqua;       }
.srn-color-navy       {  color:  navy;       }
.srn-color-fuchsia    {  color:  fuchsia;    }
.srn-color-purple     {  color:  purple;     }
.srn-color-cyan       {  color:  cyan;       }
.srn-color-darkblue   {  color:  darkblue;   }
.srn-color-lightblue  {  color:  lightblue;  }
.srn-color-magenta    {  color:  magenta;    }
.srn-color-orange     {  color:  orange;     }
.srn-color-brown      {  color:  brown;      }
.srn-color-pink       {  color:  pink;       }
.srn-color-indigo     {  color:  indigo;     }
.srn-color-darkgray   {  color:  darkgray;   }
.srn-color-darkgrey   {  color:  darkgrey;   }

/*****************/
/*    borders    */
/*****************/

.srn-border-facebook   {  border: 1px solid #3b5998;    }
.srn-border-twitter    {  border: 1px solid #55acee;    }
.srn-border-google     {  border: 1px solid #dd4b39;    }
.srn-border-blue       {  border: 1px solid blue;       }
.srn-border-red        {  border: 1px solid red;        }
.srn-border-white      {  border: 1px solid white;      }
.srn-border-silver     {  border: 1px solid silver;     }
.srn-border-gray       {  border: 1px solid gray;       }
.srn-border-grey       {  border: 1px solid gray;       }
.srn-border-lightgray  {  border: 1px solid lightgray;  }
.srn-border-lightgrey  {  border: 1px solid lightgrey;  }
.srn-border-black      {  border: 1px solid black;      }
.srn-border-maroon     {  border: 1px solid maroon;     }
.srn-border-yellow     {  border: 1px solid yellow;     }
.srn-border-olive      {  border: 1px solid olive;      }
.srn-border-lime       {  border: 1px solid lime;       }
.srn-border-green      {  border: 1px solid green;      }
.srn-border-teal       {  border: 1px solid teal;       }
.srn-border-aqua       {  border: 1px solid aqua;       }
.srn-border-navy       {  border: 1px solid navy;       }
.srn-border-fuchsia    {  border: 1px solid fuchsia;    }
.srn-border-purple     {  border: 1px solid purple;     }
.srn-border-cyan       {  border: 1px solid cyan;       }
.srn-border-darkblue   {  border: 1px solid darkblue;   }
.srn-border-lightblue  {  border: 1px solid lightblue;  }
.srn-border-magenta    {  border: 1px solid magenta;    }
.srn-border-orange     {  border: 1px solid orange;     }
.srn-border-brown      {  border: 1px solid brown;      }
.srn-border-pink       {  border: 1px solid pink;       }
.srn-border-indigo     {  border: 1px solid indigo;     }
.srn-border-darkgray   {  border: 1px solid darkgray;   }
.srn-border-darkgrey   {  border: 1px solid darkgrey;   }

/*****************************/
/*    font and font sizes    */
/*****************************/

.srn-font  {  font-family: Helvetica, Arial, sans-serif;  }

.srn-font-xxxxs  {  font-size: 0.5em;  }
.srn-font-xxxs   {  font-size: 0.6em;  }
.srn-font-xxs    {  font-size: 0.7em;  }
.srn-font-xs     {  font-size: 0.8em;  }
.srn-font-s      {  font-size: 0.9em;  }
.srn-font-m      {  font-size: 1.0em;  }
.srn-font-l      {  font-size: 1.5em;  }
.srn-font-xl     {  font-size: 2.0em;  }
.srn-font-xxl    {  font-size: 3.0em;  }
.srn-font-xxxl   {  font-size: 4.5em;  }
.srn-font-xxxxl  {  font-size: 5.0em;  }

.srn-font-0.1  {  font-size: 0.1em;  }
.srn-font-0.2  {  font-size: 0.2em;  }
.srn-font-0.3  {  font-size: 0.3em;  }
.srn-font-0.4  {  font-size: 0.4em;  }
.srn-font-0.5  {  font-size: 0.5em;  }
.srn-font-0.6  {  font-size: 0.6em;  }
.srn-font-0.7  {  font-size: 0.7em;  }
.srn-font-0.8  {  font-size: 0.8em;  }
.srn-font-0.9  {  font-size: 0.9em;  }
.srn-font-1.0  {  font-size: 1.0em;  }
.srn-font-1.1  {  font-size: 1.1em;  }
.srn-font-1.2  {  font-size: 1.2em;  }
.srn-font-1.3  {  font-size: 1.3em;  }
.srn-font-1.4  {  font-size: 1.4em;  }
.srn-font-1.5  {  font-size: 1.5em;  }
.srn-font-1.6  {  font-size: 1.6em;  }
.srn-font-1.7  {  font-size: 1.7em;  }
.srn-font-1.8  {  font-size: 1.8em;  }
.srn-font-1.9  {  font-size: 1.9em;  }
.srn-font-2.0  {  font-size: 2.0em;  }
.srn-font-2.1  {  font-size: 2.1em;  }
.srn-font-2.2  {  font-size: 2.2em;  }
.srn-font-2.3  {  font-size: 2.3em;  }
.srn-font-2.4  {  font-size: 2.4em;  }
.srn-font-2.5  {  font-size: 2.5em;  }
.srn-font-2.6  {  font-size: 2.6em;  }
.srn-font-2.7  {  font-size: 2.7em;  }
.srn-font-2.8  {  font-size: 2.8em;  }
.srn-font-2.9  {  font-size: 2.9em;  }
.srn-font-3.0  {  font-size: 3.0em;  }
.srn-font-3.1  {  font-size: 3.1em;  }
.srn-font-3.2  {  font-size: 3.2em;  }
.srn-font-3.3  {  font-size: 3.3em;  }
.srn-font-3.4  {  font-size: 3.4em;  }
.srn-font-3.5  {  font-size: 3.5em;  }
.srn-font-3.6  {  font-size: 3.6em;  }
.srn-font-3.7  {  font-size: 3.7em;  }
.srn-font-3.8  {  font-size: 3.8em;  }
.srn-font-3.9  {  font-size: 3.9em;  }
.srn-font-4.0  {  font-size: 4.0em;  }
.srn-font-4.1  {  font-size: 4.1em;  }
.srn-font-4.2  {  font-size: 4.2em;  }
.srn-font-4.3  {  font-size: 4.3em;  }
.srn-font-4.4  {  font-size: 4.4em;  }
.srn-font-4.5  {  font-size: 4.5em;  }
.srn-font-4.6  {  font-size: 4.6em;  }
.srn-font-4.7  {  font-size: 4.7em;  }
.srn-font-4.8  {  font-size: 4.8em;  }
.srn-font-4.9  {  font-size: 4.9em;  }
.srn-font-5.0  {  font-size: 5.0em;  }
